html {
  font-size: 14px;

  @include breakpoint(desktop) {
    font-size: 16px;
  }
}

body {
  background-color: white;
  color: $mineshaft;
  font-family: 'Fira Sans';
  font-weight: 400;
  line-height: 1.45;
  padding: 0 16px;

  @include breakpoint(desktop) {
    padding: 0;
  }
}

p {
  margin-bottom: 1.3em;
  font-size: 1.5em;
  font-weight: normal;

  @include breakpoint(desktop) {
    font-size: 1em;
  }
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

h1 {
  font-size: 3.998em;
  margin-top: 0;
  font-weight: bold;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.827em;
}

h4 {
  font-size: 1.999em;
}

h5 {
  font-size: 1.414em;
}

h6 {
  font-size: 1.333em;
}

small, .font_small {
  font-size: 0.707em;
}

code {
  background-color: $concrete;
  color: $nevada;
  padding: 3px 5px;
}

pre {
  background-color: $concrete;
  color: $nevada;
  padding: 3px 5px;
  overflow-x: scroll;
}