@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-LightItalic.eot');
    src: url('fira-sans/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-LightItalic.woff2') format('woff2'),
        url('fira-sans/FiraSans-LightItalic.woff') format('woff'),
        url('fira-sans/FiraSans-LightItalic.svg#FiraSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-Light.eot');
    src: url('fira-sans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-Light.woff2') format('woff2'),
        url('fira-sans/FiraSans-Light.woff') format('woff'),
        url('fira-sans/FiraSans-Light.svg#FiraSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-Regular.eot');
    src: url('fira-sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-Regular.woff2') format('woff2'),
        url('fira-sans/FiraSans-Regular.woff') format('woff'),
        url('fira-sans/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-BoldItalic.eot');
    src: url('fira-sans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-BoldItalic.woff2') format('woff2'),
        url('fira-sans/FiraSans-BoldItalic.woff') format('woff'),
        url('fira-sans/FiraSans-BoldItalic.svg#FiraSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-ThinItalic.eot');
    src: url('fira-sans/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-ThinItalic.woff2') format('woff2'),
        url('fira-sans/FiraSans-ThinItalic.woff') format('woff'),
        url('fira-sans/FiraSans-ThinItalic.svg#FiraSans-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-BlackItalic.eot');
    src: url('fira-sans/FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-BlackItalic.woff2') format('woff2'),
        url('fira-sans/FiraSans-BlackItalic.woff') format('woff'),
        url('fira-sans/FiraSans-BlackItalic.svg#FiraSans-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-Thin.eot');
    src: url('fira-sans/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-Thin.woff2') format('woff2'),
        url('fira-sans/FiraSans-Thin.woff') format('woff'),
        url('fira-sans/FiraSans-Thin.svg#FiraSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-Black.eot');
    src: url('fira-sans/FiraSans-Black.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-Black.woff2') format('woff2'),
        url('fira-sans/FiraSans-Black.woff') format('woff'),
        url('fira-sans/FiraSans-Black.svg#FiraSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fira-sans/FiraSans-Bold.eot');
    src: url('fira-sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fira-sans/FiraSans-Bold.woff2') format('woff2'),
        url('fira-sans/FiraSans-Bold.woff') format('woff'),
        url('fira-sans/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

